* {
  padding: 0;
  margin: 0;
}
button {
  padding: 10px 25px;
  background: cadetblue;
  margin-top: 20px;
  margin-right: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: whitesmoke;
  border-radius: 5px;
}
.box {
  margin-top: 20px;
  background: rgb(119, 132, 172);
  height: 500px;
  width: 500px;
  border: 3px solid black;
  border-radius: 10px;
}
